html,body{
    width: 100%;
    height: 110%;
    background-color: black;
    display: flex;
    justify-content: center;
}

    .register{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

        h1{
            font-size: 30px;
            margin-top: 3%;
            font-family: 'Londrina Solid', cursive;
            color: white;
            font-size: 50px;
        }

        .invitation{
            font-family: 'Yellowtail', cursive;;
            margin-top: -5%;
            font-size: 25px;
            color: rgb(199, 199, 199);
        }

        form{
            border: rgb(255, 255, 255) 2px solid;
            background-color: black;
            width: 100%;
            height: 70%;
            display: block;
            text-align: center;
        }

    

            input{
                margin-top: 0%;
                margin: 4%;
                width: 70%;
                height: 5%;
                font-size: 20px;
                font-family: 'Gudea', sans-serif;
            }

            .passwd{
                margin-top: 0%;
                width: 70%;
            }

            .mostrar{
                width: 20px;
                top: 62.5%;
                right: 37.5%;
                cursor: pointer;
                display: none;
                position: absolute;
            /* display: none; */
            }

            .ocultar{
                width: 20px;
                top: 62.5%;
                right: 37.5%;
                cursor: pointer;
                display: none;
                position: absolute;
            }

              /* .mostrarContraseña{
                   width: 70%;
                   height: 4%;
                   margin-top: 2%;
                   margin-left: 15%;
                   display: flex;
                   align-items: center;
                }

                    .mostrarContraseña >div{
                        display: flex;
                        align-items: center;
                        margin: 2%;
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                    }

                        .checkbox{
                            width: 20px;
                            height: 20px;
                        }*/


                ::placeholder{
                    font-size: 18px;
                    font-family: Arial, Helvetica, sans-serif;
                }

            .name{
                margin-top: 0%;
            }

            .surname{
                margin-top: 0%;
            }

            .birth{
                margin-top: 0%;
            }
            

            .user{
                margin-top:0% ;
                width: 70%;
            }

            .passwd2{
                margin-top: 0%;
            }

                .mostrar2{
                    width: 20px;
                    top: 70.5%;
                    right: 37.5%;
                    cursor: pointer;
                    display: none;
                    position: absolute;
                }

                .ocultar2{
                    width: 20px;
                    top: 70.5%;
                    right: 37.5%;
                    cursor: pointer;
                    display: none;
                    position: absolute;
                }

            .email{
                margin-top: 0%;
            }



            .submit{
                width: 70%;
                margin-top: 0%;
                background-color: rgb(0, 119, 255);
                border: none;
                border-radius: 10px;
                font-size: 20px;
                color: white;
                cursor: pointer;
            }


        .haveAnAccount{
            width: 100%;
            height: 10%;
            margin-top: 5%;
            background-color: black;
            border: white 2px solid;
            font-size: 20px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            text-align: center;
        }

            .yesAccount{
                margin-top: 3%;
            }
            
            .link{
                text-decoration: none;
                color: rgb(86, 179, 255);
            }

                .login{
                    width: 100%;
                    margin-top: -3%;
                }

