/*Tablet en horizontal*/

@media screen and (min-width:1101px) and (max-width:1350px){

    .mostrar{
        display:none;
    }

    .ocultar{
        display:none;
    }

    .image{
        width: 55%;
        background-color: aliceblue;
    }

    .image>img{
        display: none;
    }
}


@media screen and (min-width:921px) and (max-width:1100px){

    .mostrar{
        display:none;
    }

    .ocultar{
        display:none;
    }

    .image{
        width: 40%;
        height: 80%;
        margin-top: 7%;
        background-color: aliceblue;
    }

        .image>img{
            display: none;
        }

    .login{
        width: 35%;
        height: 110%;
    }

    h1{
        margin-top: 10%;
        font-size: 52px;
    }

    input{
        height: 7%;
    }

    .user{
        margin-top: 7%;
    }
}
