
/*RESOLUCIÓN MÓVIL*/

@media screen and (max-width: 600px){

    html,body{
        width: 100%;/
        height: 80%;
    }

    .barraNavegación>a{
        font-size: 12px;
        margin-right: 10%;
    }

        header{
            width: 100%;
            height: 25%;
            font-size: 20px;
        }

        .RRSS{
            height: 2%;
        }

            #instagram{
                font-size: 10px;
            }
        
            #twitter{
                font-size: 10px;
            }
        
            #facebook{
                font-size: 10px;
            }


