
/*RESOLUCIÓN MÓVIL*/

@media screen and (max-width: 600px){

    html,body{
        width: 100%;/*=1440px*/
        height: 80%;
    }

    .barraNavegación>a{
        font-size: 12px;
        margin-right: 10%;
    }

        header{
            width: 100%;
            height: 25%;
            font-size: 10px;
        }

        .RRSS{
            height: 2%;
        }

            #instagram{
                font-size: 10px;
            }
        
            #twitter{
                font-size: 10px;
            }
        
            #facebook{
                font-size: 10px;
            }

        .contenido{
            height: 85%;
        }

            .contenedorGrid{
                margin-top: 15%;
                gap: 2%;
                height: 40%;
            }

            .partidos{
                margin-top: 20%;
              }

    

        footer{
            margin-top:39%;
            height: 10%;
        }

            .atencionMCF{
                font-size: 12px;
            }

            .tlf{
                font-size: 10px;
            }
}

@media screen and (max-width: 800px){

    html,body{
        width: 100%;/*=1440px*/
        height: 80%;
    }

    .barraNavegación>a{
        font-size: 12px;
        margin-right: 10%;
    }

        header{
            width: 100%;
            height: 25%;
            font-size: 10px;
        }

        .RRSS{
            height: 2%;
        }

            #instagram{
                font-size: 10px;
            }
        
            #twitter{
                font-size: 10px;
            }
        
            #facebook{
                font-size: 10px;
            }

        .contenido{
            height: 85%;
        }

            .contenedorGrid{
                margin-top: 15%;
                gap: 2%;
                height: 40%;
            }

            .partidos{
                margin-top: 20%;
              }

    

        footer{
            margin-top:39%;
            height: 10%;
        }

            .atencionMCF{
                font-size: 12px;
            }

            .tlf{
                font-size: 10px;
            }
}

@media screen and (max-width: 1000px){

    html,body{
        width: 100%;/*=1440px*/
        height: 80%;
    }

    .barraNavegación>a{
        font-size: 12px;
        margin-right: 10%;
    }

        header{
            width: 100%;
            height: 25%;
            font-size: 10px;
        }

        .RRSS{
            height: 2%;
        }

            #instagram{
                font-size: 10px;
            }
        
            #twitter{
                font-size: 10px;
            }
        
            #facebook{
                font-size: 10px;
            }

        .contenido{
            height: 85%;
        }

            .contenedorGrid{
                margin-top: 15%;
                gap: 2%;
                height: 40%;
            }

            .partidos{
                margin-top: 20%;
              }

    

        footer{
            margin-top:39%;
            height: 10%;
        }

            .atencionMCF{
                font-size: 12px;
            }

            .tlf{
                font-size: 10px;
            }
}