/*RESOLUCIÓN TABLET VERTICAL*/



@media screen and (max-width: 100px){

    .barraNavegación{
        width: 50%;
        margin-left: 45%;
    }


}

@media screen and (max-width:400px){
    .barraNavegación{
        width: 70%;
        margin-left: 35%;
    }
}
